In [ ]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
snap = 'SNAP'
''
connection_string = f"postgresql://postgres:postgres@localhost:5432/{snap}"

In [ ]:
engine = create_engine(connection_string)

In [ ]:
query = '''
SELECT *
FROM snap
LIMIT 10
'''

result = engine.execute(query)

In [ ]:
df = pd.read_sql("select * from df limit 100;", con= engine)
df.head(2)